node_modules
.turbo
.DS_Store

apps/*/node_modules
apps/*/.next
apps/*/out
apps/*/.idea/*.xml
apps/*/.idea/*.iml
apps/*/.expo
apps/*/.env.local
apps/*/dist
apps/*/coverage

.expo/*
.idea/*

.package-lock.json
yarn.lock
pnpm-lock.yaml
.env.example
.env.local

packages/*/node_modules

*.tsbuildinfo
